workflows/content_agent.json
{
  "name": "AP Content Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0002-0002-0002-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field1",
              "name": "letter_text",
              "value": "PASTE YOUR OPERATOR LETTER HERE",
              "type": "string"
            },
            {
              "id": "field2",
              "name": "source_letter",
              "value": "Week 1 — What Controlled Deployment Actually Means",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Set Letter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const letter = $json.letter_text;\nconst source = $json.source_letter;\n\nreturn [\n  { json: { platform: 'substack', content_type: 'article', preview_text: source, full_content: letter, status: 'pending_approval', source_letter: source } },\n  { json: { platform: 'linkedin', content_type: 'post', preview_text: letter.slice(0, 150), full_content: 'A quick operator note from Angel Precision.\\n\\n' + letter.slice(0, 500) + '\\n\\n#AlgoTrading #OperatorMindset', status: 'pending_approval', source_letter: source } },\n  { json: { platform: 'x', content_type: 'thread', preview_text: letter.slice(0, 120), full_content: '1/ ' + letter.slice(0, 250) + '\\n\\n2/ One number worth noting: most scanned setups rejected. That is the feature.\\n\\n3/ Apply for beta access at angelprecision.com', status: 'pending_approval', source_letter: source } }\n];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000003",
      "name": "Generate Drafts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jhawzqnhcihevkhehogm.supabase.co/rest/v1/content_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000004",
      "name": "Insert to content_queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set Letter", "type": "main", "index": 0 }]]
    },
    "Set Letter": {
      "main": [[{ "node": "Generate Drafts", "type": "main", "index": 0 }]]
    },
    "Generate Drafts": {
      "main": [[{ "node": "Insert to content_queue", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
