workflows/content_publish_agent.json
{
  "name": "AP Content Publish Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "d1e2f3g4-0003-0003-0003-000000000001",
      "name": "Poll Every 5 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jhawzqnhcihevkhehogm.supabase.co/rest/v1/content_queue?status=eq.approved&order=approved_at.asc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "d1e2f3g4-0003-0003-0003-000000000002",
      "name": "Fetch Approved Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = Array.isArray($input.first().json) ? $input.first().json : [];\nif (items.length === 0) return [{ json: { skip: true } }];\nreturn items.map(i => ({ json: { ...i, skip: false } }));"
      },
      "id": "d1e2f3g4-0003-0003-0003-000000000003",
      "name": "Check Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "d1e2f3g4-0003-0003-0003-000000000004",
      "name": "Has Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_OPS }}",
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={{ JSON.stringify({ content: '📣 **Content Ready to Publish**\\n\\n**Platform:** ' + $json.platform.toUpperCase() + '\\n**Type:** ' + $json.content_type + '\\n\\n' + ($json.preview_text || '').slice(0, 300) + '\\n\\n_Approved — ready to post manually or connect platform API._' }) }}",
        "options": {}
      },
      "id": "d1e2f3g4-0003-0003-0003-000000000005",
      "name": "Notify Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://jhawzqnhcihevkhehogm.supabase.co/rest/v1/content_queue?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'published', published_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "d1e2f3g4-0003-0003-0003-000000000006",
      "name": "Mark Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Poll Every 5 Min": {
      "main": [[{ "node": "Fetch Approved Content", "type": "main", "index": 0 }]]
    },
    "Fetch Approved Content": {
      "main": [[{ "node": "Check Queue", "type": "main", "index": 0 }]]
    },
    "Check Queue": {
      "main": [[{ "node": "Has Approved?", "type": "main", "index": 0 }]]
    },
    "Has Approved?": {
      "main": [
        [
          { "node": "Notify Discord", "type": "main", "index": 0 },
          { "node": "Mark Published", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
