workflows/daily_ops_agent.json
{
  "name": "AP Daily Ops Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24, "triggerAtHour": 9 }]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://angel-precision-bot-official-1.onrender.com/health",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Bot Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const health = $input.first().json;\nconst ok = health.ok === true || health.status === 'ok';\n\nif (ok) {\n  return [{ json: { severity: 'INFO', source: 'daily_ops_agent', event_type: 'daily_check_clean', message: 'Bot healthy — daily check passed', resolved: false } }];\n} else {\n  return [{ json: { severity: 'CRITICAL', source: 'daily_ops_agent', event_type: 'bot_health_failed', message: 'Bot health check failed at 9AM daily check', resolved: false } }];\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Evaluate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jhawzqnhcihevkhehogm.supabase.co/rest/v1/system_health_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Schedule 9AM": {
      "main": [[{ "node": "Bot Health Check", "type": "main", "index": 0 }]]
    },
    "Bot Health Check": {
      "main": [[{ "node": "Evaluate", "type": "main", "index": 0 }]]
    },
    "Evaluate": {
      "main": [[{ "node": "Log to Supabase", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
