workflows/follow_up_agent.json
{
  "name": "AP Follow-Up Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24, "triggerAtHour": 10 }]
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000001",
      "name": "Schedule 10AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jhawzqnhcihevkhehogm.supabase.co/rest/v1/leads?select=id,email,name,temperature,last_engagement_score,last_engagement_at,next_action&status=neq.dead&order=last_engagement_score.desc&limit=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000002",
      "name": "Fetch Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const leads = Array.isArray($input.first().json) ? $input.first().json : [];\nconst threeDaysAgo = Date.now() - (3 * 24 * 60 * 60 * 1000);\n\nconst stale = leads.filter(l => {\n  if (!l.last_engagement_at) return true;\n  return new Date(l.last_engagement_at).getTime() < threeDaysAgo;\n});\n\nif (stale.length === 0) return [{ json: { message: 'No stale leads', count: 0 } }];\n\nreturn stale.map(l => ({ json: { id: l.id, email: l.email, name: l.name, temperature: l.temperature, score: l.last_engagement_score } }));"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Filter Stale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://jhawzqnhcihevkhehogm.supabase.co/rest/v1/leads?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={{ JSON.stringify({ next_action: 'Follow-up queued', last_engagement_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000004",
      "name": "Mark Followed Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Schedule 10AM": {
      "main": [[{ "node": "Fetch Leads", "type": "main", "index": 0 }]]
    },
    "Fetch Leads": {
      "main": [[{ "node": "Filter Stale", "type": "main", "index": 0 }]]
    },
    "Filter Stale": {
      "main": [[{ "node": "Mark Followed Up", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
