workflows/follow_up_agent.json
{
  "name": "Follow-Up Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24, "triggerAtHour": 10 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule 10AM Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jhawzqnhcihevkhehogm.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,email,name,temperature,last_engagement_score,last_engagement_at,next_action" },
            { "name": "status", "value": "neq.dead" },
            { "name": "order",  "value": "last_engagement_score.desc" },
            { "name": "limit",  "value": "20" }
          ]
        },
        "options": {}
      },
      "id": "fetch-leads",
      "name": "Fetch Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const leads = Array.isArray($input.all()) ? $input.all().map(i => i.json) : [];\nif (!leads || leads.length === 0) return [{ json: { count: 0 } }];\n\nconst threeDaysAgo = Date.now() - (3 * 24 * 60 * 60 * 1000);\n\nconst stale = leads.filter(lead => {\n  if (!lead.last_engagement_at) return true;\n  return new Date(lead.last_engagement_at).getTime() < threeDaysAgo;\n});\n\nif (stale.length === 0) return [{ json: { count: 0, message: 'No stale leads today' } }];\n\nreturn stale.map(lead => ({\n  json: {\n    id: lead.id,\n    email: lead.email,\n    name: lead.name || 'there',\n    temperature: lead.temperature,\n    score: lead.last_engagement_score,\n    next_action: lead.next_action || 'Send follow-up',\n    days_silent: lead.last_engagement_at\n      ? Math.floor((Date.now() - new Date(lead.last_engagement_at).getTime()) / 86400000)\n      : 99\n  }\n}));"
      },
      "id": "filter-stale",
      "name": "Filter Stale Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://jhawzqnhcihevkhehogm.supabase.co/rest/v1/leads?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={{ JSON.stringify({ next_action: 'Follow-up queued', last_engagement_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "update-lead",
      "name": "Mark Followed Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Schedule 10AM Daily": { "main": [[{ "node": "Fetch Leads",        "type": "main", "index": 0 }]] },
    "Fetch Leads":          { "main": [[{ "node": "Filter Stale Leads", "type": "main", "index": 0 }]] },
    "Filter Stale Leads":   { "main": [[{ "node": "Mark Followed Up",   "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "angel-precision" }]
}
