workflows/sales_inbox_agent.json
{
  "name": "AP Sales Inbox Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sales-inbox",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1f2g3h4-0004-0004-0004-000000000001",
      "name": "Webhook — Inbound Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst text = (body.message || body.text || body.body || '').toLowerCase();\nconst email = (body.email || body.from || '').toLowerCase().trim();\nconst name = body.name || body.sender || '';\n\nlet score = 40;\nlet seriousness = 'unknown';\nlet timeframe = 'unknown';\nlet temp = 'cold';\n\nif (text.includes('ready') || text.includes('let\\'s go') || text.includes('sign me up')) score += 30;\nif (text.includes('how much') || text.includes('pricing') || text.includes('cost')) score += 20;\nif (text.includes('call') || text.includes('talk') || text.includes('meeting')) score += 15;\nif (text.includes('interested') || text.includes('tell me more')) score += 10;\nif (text.includes('asap') || text.includes('this week') || text.includes('immediately')) { score += 15; timeframe = 'immediate'; }\nif (text.includes('next month') || text.includes('soon')) { score += 5; timeframe = '1_month'; }\n\nif (score >= 80) { temp = 'hot'; seriousness = 'high'; }\nelse if (score >= 60) { temp = 'warm'; seriousness = 'medium'; }\nelse { seriousness = 'low'; }\n\nreturn [{ json: { email, name, source: body.source || 'sales_inbox', temperature: temp, last_engagement_score: Math.min(score, 100), estimated_seriousness: seriousness, time_to_close_estimate: timeframe, last_engagement_at: new Date().toISOString(), next_action: temp === 'hot' ? 'Book call immediately' : 'Send intro email', notes: text.slice(0, 500), status: 'new' } }];"
      },
      "id": "e1f2g3h4-0004-0004-0004-000000000002",
      "name": "Score Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jhawzqnhcihevkhehogm.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "on_conflict", "value": "email" }
          ]
        },
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "e1f2g3h4-0004-0004-0004-000000000003",
      "name": "Upsert Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Score Message').first().json.temperature }}",
              "rightValue": "cold",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "e1f2g3h4-0004-0004-0004-000000000004",
      "name": "Hot or Warm?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_OPS }}",
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={{ JSON.stringify({ content: '💰 **' + $('Score Message').first().json.temperature.toUpperCase() + ' LEAD** — ' + $('Score Message').first().json.email + '\\nScore: ' + $('Score Message').first().json.last_engagement_score + ' | Seriousness: ' + $('Score Message').first().json.estimated_seriousness + '\\nNext: ' + $('Score Message').first().json.next_action }) }}",
        "options": {}
      },
      "id": "e1f2g3h4-0004-0004-0004-000000000005",
      "name": "Alert Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, temperature: $('Score Message').first().json.temperature, score: $('Score Message').first().json.last_engagement_score }) }}"
      },
      "id": "e1f2g3h4-0004-0004-0004-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Webhook — Inbound Message": {
      "main": [[{ "node": "Score Message", "type": "main", "index": 0 }]]
    },
    "Score Message": {
      "main": [[{ "node": "Upsert Lead", "type": "main", "index": 0 }]]
    },
    "Upsert Lead": {
      "main": [[{ "node": "Hot or Warm?", "type": "main", "index": 0 }]]
    },
    "Hot or Warm?": {
      "main": [
        [{ "node": "Alert Discord", "type": "main", "index": 0 }],
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Alert Discord": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
